.add_book_class_table{
    margin-top: 0.18rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    height: auto;
    width: 98%;
    font-size: 0.14rem;
    border: solid 1px #e7e7e7;
}

.add_book_class_table th,td{
    height: auto;
    width: auto;
    font-size: 0.14rem;
    border: solid 1px #e7e7e7;
}