.book_class_table{
    margin: 0.08rem;
    height: 11.1rem;
    width: 98%;
    font-size: 0.14rem;
    border: solid 1px #e7e7e7;
}

.book_class_table th{
    height: auto;
    width: auto;
    font-size: 0.14rem;
    border: solid 0.5px #47802f;
}
/*div 样式*/
.book_class_table_div{
    width: auto;
    height: 11.1rem;
    margin-top:0.1rem;
    margin-bottom: 0.1rem;
    overflow: scroll;
    overflow-x: hidden;
}

#submit_add_book_class{

}
#submit_add_book_class_th{

}